body {
	margin:0px;
	padding:0px;
	color:#555;
	font-family: 'Ubuntu', sans-serif;
	font-size:13px;
	line-height:1.5em; 
	background-color:#000;
	background-image: url(../assert_img/fnp_body.jpg);
	background-position:top;
	background-repeat:repeat-x;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 15px;
}

a, a:link, a:visited {
	color: #037db0;
}

a:hover {
	color: #ffb305;
	text-decoration:none;
}

p { margin: 0px; padding: 0 0 10px 0; }

h1 { font-size: 36px; color: #000; font-family: 'Molengo', Georgia, Times, serif; }
h2 { font-size: 24px; color: #000; margin: 0 0 20px 0; padding: 0; font-family: 'Molengo', Georgia, Times, serif;}
h3 { font-size: 21px; color: #555; margin: 0 0 20px 0; padding: 0; font-family: 'Molengo', Georgia, Times, serif; }
h4 { font-size: 18px; color: #000; margin: 0 0 10px 0; padding: 0; font-family: 'Molengo', Georgia, Times, serif;}
h5 { font-size: 16px; color: #000; margin: 0 0 10px 0; padding: 0; font-family: 'Molengo', Georgia, Times, serif;}
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

#fnp_wrapper {
	width: 970px;
	margin: 0 auto;
	padding: 0 10px;
	z-index: 1;
}

#fnp_header {
	width: 970px;
	height: 100px;
	margin-bottom: 50px;
}

#fnp_header  #site_title {
	float: left;
	width: 300px;
	padding: 5px 0 0 10px;
}

#fnp_header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#fnp_header  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#fnp_header  #site_title h1 a img{
	margin: 0px;
	padding: 0px;
	border: 0px;
	z-index: 0;
}

#fnp_header  #site_title h1 a span {
	display: block;
	text-align: right;
	font-size: 14px;
	color: #CCC;
	font-weight: bold;
	letter-spacing: 2px;
}

.button a {
	clear: both;
	display: block;
	width: 85px;
	height: 24px;
	padding: 3px 15px 0 0;
	background:	url(../assert_img/fnp_button.png) no-repeat;
	
	
	color: #2a92e2;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	color: #333333;
}

/* menu */

#fnp_menu {
	float: right;
	height: 80px;
}

#fnp_menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
}

#fnp_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#fnp_menu ul li a {
	position: relative;
	float: left;
	width: 120px;
	display: block;
	height: 40px;
	padding: 30px 0 0 0;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #ffb305;	
	font-weight: bold;
	outline: none;
	text-shadow: 4px 4px 4px #ccc;
}

#fnp_menu li a:hover, #fnp_menu li .current {
	color: #fff;
	background: url(../assert_img/fnp_menu_hover.jpg);
}


/* end of menu */

#fnp_content {
	width: 610px;
	float: left;
	padding: 30px;
	background: #f6f6f6;
	border: 1px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
        margin-bottom: 10px;
}

/* slider */

#fnp_slider {
	clear: both;
	width: 610px;
	height: 260px;
	margin-bottom: 60px;
}


/* end of slider */



#fnp_sidebar {
	float: right;
	width: 260px;
	padding: 2px 0;
}

#social_web {
	
	margin-bottom: 60px;
	
}


#news_section {
	margin: 0;
	padding: 0;
	color: #CCC;
}

.news_section h3 {
	color: #CCC;
}

.news_box  {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #CCC;
}

.news_box a {
	color: #ffb305;
}

.frontpage_set_box {
	width: 280px;
        height:300px;
        padding: 5px;
        background-color: #CCC;
        border: 1px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
        margin-bottom: 10px;
}

.frontpage_set_image img {
	float: left;
	width: 64px;
	margin: 3px 0 0 0;
        border: 1px solid #a8a8a8;
        padding: 2px;
}

.frontpage_set_box .frontpage_set_text {
	float: right;
	width: 200px;
	text-align: justify;    
}

.frontpage_set_text p {

        margin-bottom: 20px;
}

.frontpage_set_text h6 {
	margin-bottom: 0px;
        margin-top: 0px;
}

#flickblog_title {
    font-size: 50px;
    line-height:  1em;
}

.flickblog_section {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCC;
	background: url(../assert_img/fnp_divider.jpg) bottom repeat-x;	
}

.flickblog_section .flickblog_author {
    font-size: 12px;
    color:#9e9e9e;
}

.flickblog_section .linktopic a {
    text-decoration: none;
    color: #555;
}

.flickblog_section .linktopic a:hover {
    text-decoration: underline;
    color: #ffb305;
}

.flickblog_section h4 {
	margin-bottom: 20px;
}

.flickblog_section .left {
	float: left; 
	width: 230px;
}

.flickblog_section .left img {
	border:1px solid #CCC;
	padding: 5px;
}

.flickblog_section .flickblog_content {
	margin: 10px 0;
}

.flickblog_section .right {
	float: right; 
	width: 470px;
}

#pagination {
    font-size: 22px;
}

#flickpost {
  
}

#flickpost .flickpost_image img{
    max-width: 590px;
    margin-bottom: 10px;
    border:1px solid #CCC;
    padding: 5px;
}

#fnp_comments .fnp_comment {
    width: 588px;
    background-color: #CCC;
    padding: 10px;
    border: 1px solid #CCC;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

#fnp_comments .fnp_comment .comment-meta
{
    font-family:'Molengo', Georgia, Times, serif;
    font-size: 16px;
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
}

#contact_form {
        margin-left: 60px;
	padding: 20px 0 0 0;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
	/*border:1px solid #e2d1be;
	padding: 20px 20px 10px 20px; */
}

#contact_form form .input_field {
	height: 18px;
	width: 350px;
}

#contact_form form label {
	display: block;
	width: 100px;
	text-align: left;
	margin-right: 10px;
	font-size: 14px;	
}

#contact_form form textarea {
	width: 350px;
	height: 150px;
}

#contact_form form .submit_btn {
	margin-left: 108px;
}

.req_star {
    color:  #ff0000;
    font-weight: bold;
    margin-left: 5px;
}



/*register form*/

#register_form {
        margin-left: 60px;
	padding: 20px 0 0 0;
}

#register_form form {
	margin: 0px;
	padding: 0px;
	/*border:1px solid #e2d1be;
	padding: 20px 20px 10px 20px; */
}

#register_form form .input_field {
	height: 18px;
	width: 350px;
}

#register_form form label {
	display: block;
	width: 150px;
	text-align: left;
	margin-right: 10px;
	font-size: 14px;	
}

#register_form form textarea {
	width: 350px;
	height: 150px;
}

#register_form form .submit_btn {
	margin-left: 70px;
}

/*Javascript Errors */

#errorT {
    font-size: 13px;
    display:  none;
    color: #000000;
    background-color: #fe6767;
    background-color: rgba(255,100,100,0.65);
    padding: 10px 10px 20px 10px;
    margin-left: 100px;
    width: 320px;
    height: 28px;
    border: 2px solid #8D0D19;
}

div#errorT img {
    float: left;
    margin-bottom: 5px;
}

div#errorT span#errorMsg {
    margin-left: 20px;
    float: left;
    margin-top: 7px;
}

/* Hand Write */

.hand_write {
    font-family: 'Gochi Hand', cursive;
    font-size: 26px;
}

.hand_write .bigger {
    font-size: 72px;
}

/* firefox tweaks */
#social_web img {
    border: none;
}

#slider img{
    border: none;
}


/* footer */


#fnp_footer {
	clear: both;
	width: 910px;
	padding: 30px;
	text-align: center;
	color: #ccc;
        background: #000;
        border: 1px solid #000;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
}

#fnp_footer a {
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
}

#fnp_footer a:hover {
	text-decoration: none;
}

#fnp_footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px 0 0;
	display: inline;
}

.footer_menu li a {
	color: #ffffff;
}

.footer_menu .last_menu {
	border: none;
}

/* end of footer */
